In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('WiC_dataset/train/train.data.txt', sep='\t', names=['target_word', 'pos', 'ind2ind', 'text_a',\
                                                                        'text_b'])
train_gold = pd.read_csv('WiC_dataset/train/train.gold.txt', sep='\t', names=['gold'])

train.head()

,target_word,pos,ind2ind,text_a,text_b
0,carry,V,2-1,You must carry your camping gear .,Sound carries well over water .
1,go,V,2-6,Messages must go through diplomatic channels .,Do you think the sofa will go through the door ?
2,break,V,0-2,Break an alibi .,The wholesaler broke the container loads into ...
3,cup,N,8-4,He wore a jock strap with a metal cup .,Bees filled the waxen cups with honey .
4,academy,N,1-2,The Academy of Music .,The French Academy .

In [3]:
dev = pd.read_csv('WiC_dataset/dev/dev.data.txt', sep='\t', names=['target_word', 'pos', 'ind2ind', 'text_a',\
                                                                        'text_b'])
dev_gold = pd.read_csv('WiC_dataset/dev/dev.gold.txt', sep='\t', names=['gold'])

dev.head()

,target_word,pos,ind2ind,text_a,text_b
0,board,N,2-2,Room and board .,He nailed boards across the windows .
1,circulate,V,0-4,Circulate a rumor .,This letter is being circulated among the facu...
2,hook,V,0-1,Hook a fish .,"He hooked a snake accidentally , and was so sc..."
3,recreation,N,1-9,For recreation he wrote poetry and solved cros...,Drug abuse is often regarded as a form of recr...
4,domesticity,N,4-6,Making a hobby of domesticity .,A royal family living in unpretentious domesti...

In [4]:
test = pd.read_csv('WiC_dataset/test/test.data.txt', sep='\t', names=['target_word', 'pos', 'ind2ind', 'text_a',\
                                                                        'text_b'])

test.head()

,target_word,pos,ind2ind,text_a,text_b
0,defeat,N,4-4,It was a narrow defeat .,The army 's only defeat .
1,groom,V,0-1,Groom the dogs .,Sheila groomed the horse .
2,penetration,N,1-1,The penetration of upper management by women .,"Any penetration , however slight , is sufficie..."
3,hit,V,1-3,We hit Detroit at one in the morning but kept ...,An interesting idea hit her .
4,deliberation,N,6-2,He was a man of judicial deliberation .,A little deliberation would have deterred them .

In [5]:
train['label'] = train_gold['gold']
dev['label'] = dev_gold['gold']

In [6]:
train.head()

,target_word,pos,ind2ind,text_a,text_b,label
0,carry,V,2-1,You must carry your camping gear .,Sound carries well over water .,F
1,go,V,2-6,Messages must go through diplomatic channels .,Do you think the sofa will go through the door ?,F
2,break,V,0-2,Break an alibi .,The wholesaler broke the container loads into ...,F
3,cup,N,8-4,He wore a jock strap with a metal cup .,Bees filled the waxen cups with honey .,T
4,academy,N,1-2,The Academy of Music .,The French Academy .,F

In [7]:
dev.head()

,target_word,pos,ind2ind,text_a,text_b,label
0,board,N,2-2,Room and board .,He nailed boards across the windows .,F
1,circulate,V,0-4,Circulate a rumor .,This letter is being circulated among the facu...,F
2,hook,V,0-1,Hook a fish .,"He hooked a snake accidentally , and was so sc...",T
3,recreation,N,1-9,For recreation he wrote poetry and solved cros...,Drug abuse is often regarded as a form of recr...,T
4,domesticity,N,4-6,Making a hobby of domesticity .,A royal family living in unpretentious domesti...,F

In [8]:
train = train[['text_a', 'text_b', 'label']]
dev = dev[['text_a', 'text_b', 'label']]
test=test[['text_a', 'text_b']]

In [11]:
train.label = train.label.map({'T': 1, 'F':0})
dev.label = dev.label.map({'T': 1, 'F':0})

In [12]:
train.to_csv('train.tsv', sep='\t', header=False, index=False)
dev.to_csv('dev.tsv', sep='\t', header=False, index=False)
test.to_csv('test.tsv', sep='\t', header=False, index=False)

In [13]:
test.head()

,text_a,text_b
0,It was a narrow defeat .,The army 's only defeat .
1,Groom the dogs .,Sheila groomed the horse .
2,The penetration of upper management by women .,"Any penetration , however slight , is sufficie..."
3,We hit Detroit at one in the morning but kept ...,An interesting idea hit her .
4,He was a man of judicial deliberation .,A little deliberation would have deterred them .